[user]
	name = Victor F.
	email = victor.id1993@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	lg = log --graph --pretty=format:'%C(auto)%h-%C(auto)%d %s %C(cyan)%an %C(green)%cr' --abbrev-commit --date=relative
	co = checkout
	br = branch
	p = pull
	rb = rebase
	st = status
