[user]
	name = Victor F.
	email = victor.*****@gmail.com
	signingkey = /home/victor/.ssh/id_ed25519.pub
[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	lg = log --graph --pretty=format:'%C(auto)%h-%C(auto)%d %s %C(cyan)%an %C(green)%cr' --abbrev-commit --date=relative
	co = checkout
	cm = commit
	br = branch
	p = pull
	rb = rebase
	st = status
[gpg]
	format = ssh
