(
    name: "Tokyo Night Storm",
    foreground: "#a9b1d6",
    cursor: "#c0caf5",
    bright_foreground: "#c0caf5",
    dim_foreground: "#545c7e",
    normal: (
        black: "#414868",
        red: "#f7768e",
        green: "#73daca",
        yellow: "#e0af68",
        blue: "#7aa2f7",
        magenta: "#bb9af7",
        cyan: "#7dcfff",
        white: "#8089b3",
    ),
    bright: (
        black: "#414868",
        red: "#f7768e",
        green: "#73daca",
        yellow: "#e0af68",
        blue: "#7aa2f7",
        magenta: "#bb9af7",
        cyan: "#7dcfff",
        white: "#a9b1d6",
    ),
    dim: (
        black: "#1f2335",
        red: "#914c54",
        green: "#164846",
        yellow: "#c49a5a",
        blue: "#3d547a",
        magenta: "#9d7cd8",
        cyan: "#41a6b5",
        white: "#545c7e",
    ),
)
