@define-color blur_background rgba(255, 248, 243, 0.3);
@define-color blur_background8 rgba(255, 248, 243, 0.8);

    @define-color background #fff8f3;

    @define-color error #ba1a1a;

    @define-color error_container #ffdad6;

    @define-color inverse_on_surface #fbefe2;

    @define-color inverse_primary #f0bf6d;

    @define-color inverse_surface #362f27;

    @define-color on_background #201b13;

    @define-color on_error #ffffff;

    @define-color on_error_container #410002;

    @define-color on_primary #ffffff;

    @define-color on_primary_container #281900;

    @define-color on_primary_fixed #281900;

    @define-color on_primary_fixed_variant #604100;

    @define-color on_secondary #ffffff;

    @define-color on_secondary_container #261904;

    @define-color on_secondary_fixed #261904;

    @define-color on_secondary_fixed_variant #55442a;

    @define-color on_surface #201b13;

    @define-color on_surface_variant #4e4539;

    @define-color on_tertiary #ffffff;

    @define-color on_tertiary_container #0d2005;

    @define-color on_tertiary_fixed #0d2005;

    @define-color on_tertiary_fixed_variant #374c2c;

    @define-color outline #807567;

    @define-color outline_variant #d2c4b4;

    @define-color primary #7c580d;

    @define-color primary_container #ffdeac;

    @define-color primary_fixed #ffdeac;

    @define-color primary_fixed_dim #f0bf6d;

    @define-color scrim #000000;

    @define-color secondary #6e5c40;

    @define-color secondary_container #f8dfbb;

    @define-color secondary_fixed #f8dfbb;

    @define-color secondary_fixed_dim #dbc3a1;

    @define-color shadow #000000;

    @define-color source_color #e1a32c;

    @define-color surface #fff8f3;

    @define-color surface_bright #fff8f3;

    @define-color surface_container #f8ecdf;

    @define-color surface_container_high #f2e6d9;

    @define-color surface_container_highest #ece1d4;

    @define-color surface_container_low #fef2e5;

    @define-color surface_container_lowest #ffffff;

    @define-color surface_dim #e4d8cc;

    @define-color surface_tint #7c580d;

    @define-color surface_variant #efe0cf;

    @define-color tertiary #4e6542;

    @define-color tertiary_container #d1eabf;

    @define-color tertiary_fixed #d1eabf;

    @define-color tertiary_fixed_dim #b5cea4;
