@define-color accent_color #f0bf6d;
@define-color accent_fg_color #281900;
@define-color accent_bg_color #f0bf6d;
@define-color window_bg_color #e4d8cc;
@define-color window_fg_color #201b13;
@define-color headerbar_bg_color #e4d8cc;
@define-color headerbar_fg_color #201b13;
@define-color popover_bg_color #e4d8cc;
@define-color popover_fg_color #201b13;
@define-color view_bg_color #fff8f3;
@define-color view_fg_color #201b13;
@define-color card_bg_color #fff8f3;
@define-color card_fg_color #201b13;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;