@import "colors.css";

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background: url("~Pictures/Wallpaper/blurred_wallpaper.png");
  opacity: 0.8;
  background-size: cover;
  font-size: 16pt;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  animation: gradient_f 20s ease-in infinite;
  border-radius: 80px; /* Increased border radius for a more rounded look */
  border: 0px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  color: @foreground;
  background-color: alpha(@primary, 1);
}

button:focus {
  background-color: alpha(@primary, 1);
  background-size: 25%;
  border: 0px;
}

button:hover {
  background-color: alpha(@primary, 0.9);
  opacity: 0.8;
  color: @on_primary;
  background-size: 30%;
  margin: 30px;
  border-radius: 80px;
  box-shadow: 0 0 50px @shadow;
}

button span {
  font-size: 1.2em;
}

#lock {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/lock.png"));
}

#logout {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/reboot.png"));
}
